<div class="topnav d-flex justify-content-center align-items-center">
  <h2 class="text-muted">Edit the template</h2>
</div>
<div class="tool-box">
  <div class="tool-color shadow float-left rounded">
    <p class="font-weight-bolder text-center">Edit Your Color</p>
    <div class="row mb-3">
      <div class="col" style="cursor: pointer;">
        <div class="collorr"></div>
      </div>
      <div class="col" style="cursor: pointer;">
        <div class="collorr"></div>
      </div>
      <div class="col" style="cursor: pointer;">
        <div class="collorr"></div>
      </div>
    </div>
    <div class="row">
      <div class="col" style="cursor: pointer;">
        <div class="collorr"></div>
      </div>
      <div class="col" style="cursor: pointer;">
        <div class="collorr"></div>
      </div>
      <div class="col" style="cursor: pointer;">
        <div class="collorr"></div>
      </div>
    </div>
  </div>
  <div class="div-icon rounded float-right" style="cursor: pointer;">
    <i class="fas fa-palette fa-spin iconfontt"></i>
  </div>
  <div class="clearfix"></div>
</div>
<!--------------------------------------------------->
<!--
  <div class="sidenav text-muted">
    <div class="d-flex justify-content-center mt-5 pt-5 mb-3">
      <i class="fa fa-paint-brush"></i>
    </div>
    <div class="d-flex justify-content-center">
      <span class="design">Design</span>
    </div>
  </div>
  -->

<div class="container-fluid my-3">
  <div class="container-template">
    <!--------------------------->
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="#"
          >bezel<span class="text-primary">.</span></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav brd ml-auto">
            <li class="nav-item active">
              <a class="nav-link">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link"
                >About<span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item active">
              <a class="nav-link">Team<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link"
                >Services<span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item active">
              <a class="nav-link">
                Works<span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item active">
              <a class="nav-link"
                >Pricing<span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item active">
              <a class="nav-link pr-3"
                >Contact<span class="sr-only">(current)</span></a
              >
            </li>
          </ul>
          <!---------------------------------------------------------------------->
          <ul class="navbar-nav pl-3">
            <li class="nav-item active">
              <a class="nav-link"
                ><i class="fab fa-facebook-f" style="font-size: 16px;"></i
                ><span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item active">
              <a class="nav-link"
                ><i class="fab fa-twitter" style="font-size: 16px;"></i
                ><span class="sr-only">(current)</span></a
              >
            </li>
            <li class="nav-item active">
              <a class="nav-link">
                <i class="fab fa-instagram" style="font-size: 16px;"></i
                ><span class="sr-only">(current)</span></a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section id="home">
      <!---------------------->
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#carouselExampleIndicators"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active position-relative mh">
            <img
              src="../../assets/img/bg-image-28.jpg"
              class="d-block w-100 mh"
              style="width: 100%;"
              alt=""
            />
            <!------------------------>
            <div
              class="header d-flex justify-content-center align-items-center text-center position-absolute"
            >
              <div>
                <h1 class="mb-5">Get Awesome</h1>
                <p class="mb-5">
                  We are an annovative company making digital stuff.
                </p>
                <button class="btn yourbgcolor p-3">
                  <a class="bbtn" href="#home">Read More</a>
                </button>
                <button class="btn btn-light-out p-3 px-2 ml-3">
                  <a class="bbtn" href="#home">Contact</a>
                </button>
              </div>
            </div>
            <!------------------------>
          </div>
          <div class="carousel-item position-relative mh">
            <img
              src="../../assets/img/bg-image-29.jpg"
              class="d-block w-100 mh"
              style="width: 100%;"
              alt=""
            />
            <div
              class="header d-flex justify-content-center align-items-center text-center position-absolute"
            >
              <div>
                <h1 class="mb-5">Create With Bezel.</h1>
                <p class="mb-5">
                  We are an annovative company making digital stuff.
                </p>
                <button class="btn yourbgcolor p-3">
                  <a class="bbtn" href="#home">Hire Us</a>
                </button>
                <button class="btn btn-light-out p-3 px-2 ml-3">
                  <a class="bbtn" href="#home">Services</a>
                </button>
              </div>
            </div>
          </div>
        </div>
        <a
          class="carousel-control-prev d-md-flex d-none"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="prev"
        >
          <span
            class="carousel-control-prev-icon position-relative"
            aria-hidden="true"
          >
            <i
              class="fas fa-arrow-right position-absolute"
              style="font-size: 16px;"
            ></i>
            <div
              class="shdw position-absolute"
              style="width: 100%; height: 100%; background-color: white;"
            ></div>
          </span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next d-md-flex d-none"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="next"
        >
          <span
            class="carousel-control-next-icon position-relative"
            aria-hidden="true"
            ><i
              class="fas fa-arrow-left position-absolute"
              style="font-size: 16px;"
            ></i>
            <div
              class="shdw position-absolute"
              style="width: 100%; height: 100%; background-color: white;"
            ></div
          ></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <!---------------------->
    </section>
    <!--------------------------------------------------->
    <section
      id="about"
      class="text-center d-flex justify-content-center align-items-center"
    >
      <div class="container">
        <h5 class="mb-5 font-weight-bolder">WHO WE ARE</h5>
        <div class="font-weight-bold stle">
          WHO WE ARE We are an innovative company. We develop and design
          <span class="animte yourcolor"> </span>
          <div
            class="d-inline-block"
            style="background-color: black; height: 20px; width: 3px;"
          ></div>
          for costumers around the world. Our clients are some of the most
          forward-looking companies in the world.
        </div>
        <button class="btn font-weight-bolder btnn yourbgcolor p-4 mt-5">
          Read More
        </button>
      </div>
    </section>
    <hr class="m-0" />
    <!-------------------------------------------->
    <section
      id="creationteam"
      class="d-flex justify-content-center align-items-center"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12 text-center">
                <div class="position-relative">
                  <div class="head1">C</div>
                  <h1 class="head2 position-absolute">Creation Team</h1>
                </div>

                <h4 class="text-muted">We are digital thinkers</h4>
              </div>
            </div>
            <div class="row my-5">
              <div class="col-md-3 mb-5 mb-md-0 col-12 col-sm-6">
                <div class="position-relative olayhov">
                  <img src="../../assets/img/team-1.jpg" class="img-fluid" />
                  <div
                    class="olay yourbgcolor position-absolute d-flex align-items-start flex-column p-3"
                  >
                    <div class="mb-auto">
                      <i
                        class="fab fa-facebook-f iconn mr-2"
                        style="font-size: 16px;"
                      ></i>
                      <i
                        class="fab fa-twitter iconn mr-2"
                        style="font-size: 16px;"
                      ></i>
                      <i
                        class="fab fa-linkedin-in iconn"
                        style="font-size: 16px;"
                      ></i>
                    </div>
                    <div class="text-white">
                      <div>
                        <h5 class="mt-5">LUKE CAGE</h5>
                        <h6>Founder & CEO</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 mb-5 mb-md-0 col-12 col-sm-6">
                <div class="position-relative olayhov">
                  <img src="../../assets/img/team-2.jpg" class="img-fluid" />
                  <div
                    class="olay yourbgcolor position-absolute d-flex align-items-start flex-column p-3"
                  >
                    <div class="mb-auto">
                      <i
                        class="fab fa-facebook-f iconn mr-2"
                        style="font-size: 16px;"
                      ></i>
                      <i
                        class="fab fa-twitter iconn mr-2"
                        style="font-size: 16px;"
                      ></i>
                      <i
                        class="fab fa-linkedin-in iconn"
                        style="font-size: 16px;"
                      ></i>
                    </div>
                    <div class="text-white">
                      <div>
                        <h5 class="mt-5">LUKE CAGE</h5>
                        <h6>Founder & CEO</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 mb-5 mb-md-0 col-12 col-sm-6">
                <div class="position-relative olayhov">
                  <img src="../../assets/img/team-3.jpg" class="img-fluid" />
                  <div
                    class="olay yourbgcolor position-absolute d-flex align-items-start flex-column p-3"
                  >
                    <div class="mb-auto">
                      <i
                        class="fab fa-facebook-f iconn mr-2"
                        style="font-size: 16px;"
                      ></i>
                      <i
                        class="fab fa-twitter iconn mr-2"
                        style="font-size: 16px;"
                      ></i>
                      <i
                        class="fab fa-linkedin-in iconn"
                        style="font-size: 16px;"
                      ></i>
                    </div>
                    <div class="text-white">
                      <div>
                        <h5 class="mt-5">LUKE CAGE</h5>
                        <h6>Founder & CEO</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 mb-5 mb-md-0 col-12 col-sm-6">
                <div class="position-relative olayhov">
                  <img src="../../assets/img/team-4.jpg" class="img-fluid" />
                  <div
                    class="olay yourbgcolor position-absolute d-flex align-items-start flex-column p-3"
                  >
                    <div class="mb-auto">
                      <i
                        class="fab fa-facebook-f iconn mr-2"
                        style="font-size: 16px;"
                      ></i>
                      <i
                        class="fab fa-twitter iconn mr-2"
                        style="font-size: 16px;"
                      ></i>
                      <i
                        class="fab fa-linkedin-in iconn"
                        style="font-size: 16px;"
                      ></i>
                    </div>
                    <div class="text-white">
                      <div>
                        <h5 class="mt-5">LUKE CAGE</h5>
                        <h6>Founder & CEO</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr class="m-0" />
    <!----------------------------------------------------->
    <section id="services" class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row text-center my-md-5 my-sm-0 py-3">
              <div class="col-md-2 col-sm-12 mb-sm-5 mb-md-0">
                <h6>STUNNING DESIGN</h6>
              </div>
              <div class="col-md-2 col-sm-12 mb-sm-5 mb-md-0">
                <h6>TIME SAVER</h6>
              </div>
              <div class="col-md-2 col-sm-12 mb-sm-5 mb-md-0">
                <h6>CLEAN CODE</h6>
              </div>
              <div class="col-md-2 col-sm-12 mb-sm-5 mb-md-0">
                <h6>CUSTOMIZABLE</h6>
              </div>
              <div class="col-md-2 col-sm-12 mb-sm-5 mb-md-0">
                <h6>PERFECT LAYOUT</h6>
              </div>
              <div class="col-md-2 col-sm-12 mb-sm-5 mb-md-0">
                <h6>RETINA READY</h6>
              </div>
            </div>
            <div class="row my-md-5 my-sm-0 py-3">
              <div class="col-md-4 col-sm-12">
                <h1>What We Do.</h1>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Aliquam ipsam ullam incidunt itaque nemo omnis temporibus
                  totam quibusdam repellat vero, recusandae excepturi
                  dignissimos velit et alias amet, quia facilis perferendis.
                </p>
              </div>
              <div
                class="offset-md-2 offset-sm-0 col-md-3 col-sm-6 mt-sm-5 mt-md-0"
              >
                <p>
                  <i
                    class="far fa-check-circle mr-2"
                    style="font-size: 16px; color: white;"
                  ></i
                  >Research
                </p>
                <p>
                  <i
                    class="far fa-check-circle mr-2"
                    style="font-size: 16px; color: white;"
                  ></i
                  >Opportunity Analysis
                </p>
                <p>
                  <i
                    class="far fa-check-circle mr-2"
                    style="font-size: 16px; color: white;"
                  ></i
                  >Consulting
                </p>
                <p>
                  <i
                    class="far fa-check-circle mr-2"
                    style="font-size: 16px; color: white;"
                  ></i
                  >Brand Planning
                </p>
                <p>
                  <i
                    class="far fa-check-circle mr-2"
                    style="font-size: 16px; color: white;"
                  ></i
                  >Customer Support
                </p>
              </div>
              <div class="col-md-3 col-sm-6 mt-sm-5 mt-md-0">
                <p>
                  <i
                    class="far fa-check-circle mr-2"
                    style="font-size: 16px; color: white;"
                  ></i
                  >Logo & Branding
                </p>
                <p>
                  <i
                    class="far fa-check-circle mr-2"
                    style="font-size: 16px; color: white;"
                  ></i
                  >Style guides
                </p>
                <p>
                  <i
                    class="far fa-check-circle mr-2"
                    style="font-size: 16px; color: white;"
                  ></i
                  >Motion graphics
                </p>
                <p>
                  <i
                    class="far fa-check-circle mr-2"
                    style="font-size: 16px; color: white;"
                  ></i
                  >UX/UI-design
                </p>
                <p>
                  <i
                    class="far fa-check-circle mr-2"
                    style="font-size: 16px; color: white;"
                  ></i
                  >Social media design
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr class="m-0" />
    <!------------------------------------------------------->
    <section id="pricing">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row mb-5">
              <div class="col-md-12 text-center">
                <div class="position-relative">
                  <div class="head1">C</div>
                  <h1 class="head2 position-absolute">Cheap Prices</h1>
                </div>

                <h4 class="text-muted">We provide the best quality.</h4>
              </div>
            </div>
            <div class="row mb-5">
              <div class="col-md-3 col-12 col-sm-6 mb-5 mb-md-0 p-2 mt-3">
                <div class="bg-white p-4 rounded">
                  <p>Starter</p>
                  <h2 class="l-head position-relative">
                    <span class="s-head position-absolute">$</span>9
                  </h2>
                  <hr class="my-4" />
                  <p>Unlimited Connections</p>
                  <p>24/7 Support</p>
                  <p>Full SSL Protection</p>
                  <p>Unlimited Channels</p>
                  <button class="my-5 btn yourbgcolor p-2">
                    <a class="text-decoration-none text-white" href="#home"
                      >Sign up</a
                    >
                  </button>
                </div>
              </div>
              <div class="col-md-3 col-12 col-sm-6 mb-5 mb-md-0 p-2 mt-3">
                <div class="bg-white p-4 rounded">
                  <p>Silver</p>
                  <h2 class="l-head position-relative">
                    <span class="s-head position-absolute">$</span>19
                  </h2>
                  <hr class="my-4" />
                  <p>Unlimited Connections</p>
                  <p>24/7 Support</p>
                  <p>Full SSL Protection</p>
                  <p>Unlimited Channels</p>
                  <button class="my-5 btn yourbgcolor p-2">
                    <a class="text-decoration-none text-white" href="#home"
                      >Sign up</a
                    >
                  </button>
                </div>
              </div>
              <div class="col-md-3 col-12 col-sm-6 mb-5 mb-md-0 p-2">
                <div class="bg-white p-4 rounded">
                  <div class="d-flex justify-content-between">
                    <p>Gold</p>
                    <p class="yourbgcolor text-white bg-color">Best Value</p>
                  </div>
                  <h2 class="position-relative yourcolor t-color">
                    <span class="s-head position-absolute">$</span>29
                  </h2>
                  <hr class="my-4" />
                  <p>Unlimited Connections</p>
                  <p>24/7 Support</p>
                  <p>Full SSL Protection</p>
                  <p>Unlimited Channels</p>
                  <button class="my-5 btn yourbgcolor p-2">
                    <a class="text-decoration-none text-white" href="#home"
                      >Sign up</a
                    >
                  </button>
                </div>
              </div>
              <div class="col-md-3 col-12 col-sm-6 mb-5 mb-md-0 p-2 mt-3">
                <div class="bg-white p-4 rounded">
                  <p>Platinum</p>
                  <h2 class="l-head position-relative">
                    <span class="s-head position-absolute">$</span>49
                  </h2>
                  <hr class="my-4" />
                  <p>Unlimited Connections</p>
                  <p>24/7 Support</p>
                  <p>Full SSL Protection</p>
                  <p>Unlimited Channels</p>
                  <button class="my-5 btn yourbgcolor p-2">
                    <a class="text-decoration-none text-white" href="#home"
                      >Sign up</a
                    >
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-------------------------------------------------------------->

    <section id="works" class="carsl p-5">
      <div class="container">
        <div class="container">
          <h5 class="text-center mb-5">HAPPY CUSTOMERS</h5>
          <div
            id="carouselExampleIndicators1"
            class="carousel slide"
            data-ride="carousel"
          >
            <ol class="carousel-indicators">
              <li
                data-target="#carouselExampleIndicators1"
                data-slide-to="0"
                class="active"
              ></li>
              <li
                data-target="#carouselExampleIndicators1"
                data-slide-to="1"
              ></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="container">
                  <div class="container">
                    <div
                      class="p-5 rounded bg-white text-center m-5 position-relative"
                    >
                      <img
                        class="rounded-circle position-absolute immg"
                        width="100px"
                        height="100px"
                        src="../../assets/img/testimonial-2.jpg"
                      />
                      <h4 class="mt-2">Mark ZuckerBerg</h4>
                      <h6 class="my-5">FOUNDER & CEO , FACEBOOK</h6>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Magni libero officia, earum dignissimos hic aliquid,
                        consequatur cumque molestiae nesciunt inventore
                        provident, reiciendis facilis corrupti maxime nemo.
                        Temporibus id expedita ut.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container">
                  <div class="container">
                    <div
                      class="p-5 rounded bg-white text-center m-5 position-relative"
                    >
                      <img
                        class="rounded-circle position-absolute immg"
                        width="100px"
                        height="100px"
                        src="../../assets/img/testimonial-1.jpg"
                      />
                      <h4 class="mt-2">Marissa Mayer</h4>
                      <h6 class="my-5">FOUNDER & CEO , FACEBOOK</h6>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Magni libero officia, earum dignissimos hic aliquid,
                        consequatur cumque molestiae nesciunt inventore
                        provident, reiciendis facilis corrupti maxime nemo.
                        Temporibus id expedita ut.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a
              class="carousel-control-prev"
              href="#carouselExampleIndicators1"
              role="button"
              data-slide="prev"
            >
              <span class="carousel-control-prev-icon" aria-hidden="true"
                ><i
                  class="fas fa-arrow-left"
                  style="font-size: 48px; color: white;"
                ></i
              ></span>
              <span class="sr-only">Previous</span>
            </a>
            <a
              class="carousel-control-next"
              href="#carouselExampleIndicators1"
              role="button"
              data-slide="next"
            >
              <span class="carousel-control-next-icon" aria-hidden="true"
                ><i
                  class="fas fa-arrow-right"
                  style="font-size: 48px; color: white;"
                ></i
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-------------------------------------------------------------->
    <section id="contact">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-12 mb-5 mb-md-0">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3452.050103349381!2d31.31763513540524!3d30.092751373245036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583e299c47d561%3A0xd93783d020a47f83!2z2YXZitiv2KfZhiDYsdmI2YPYs9mK2Iwg2KfZhNmF2YbYqtiy2YfYjCDZgtiz2YUg2YXYtdixINin2YTYrNiv2YrYr9ip2Iwg2YXYrdin2YHYuNipINin2YTZgtin2YfYsdip4oCs!5e0!3m2!1sar!2seg!4v1584091600355!5m2!1sar!2seg"
              width="100%"
              height="100%"
              frameborder="0"
              style="border: 0;"
              allowfullscreen=""
              aria-hidden="false"
              tabindex="0"
            ></iframe>
          </div>
          <div class="col-md-6 col-12 mb-5 mb-md-0">
            <div class="position-relative">
              <div class="head1">G</div>
              <h1 class="head2 position-absolute">Get in Touch</h1>
            </div>
            <h4 class="text-muted pb-5">Let's work together.</h4>
            <!--------------->
            <form>
              <div class="form-group">
                <label for="exampleInputname1">Your Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputname1"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Your Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputnumber1">Phone Number</label>
                <input
                  type="number"
                  class="form-control"
                  id="exampleInputnumber1"
                />
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Your Message</label>
                <textarea
                  class="form-control testa"
                  id="exampleFormControlTextarea1"
                  rows="3"
                ></textarea>
              </div>
              <button type="submit" class="btn yourbgcolor text-white mb-4">
                Submit
              </button>
            </form>
            <!------------->
          </div>
          <!------------>
        </div>
      </div>
    </section>

    <!----------------------------------->
  </div>
</div>
