<section id="changepass">
    <mat-sidenav-container class="example-container" >
        <mat-sidenav #sidenav mode="side" [(opened)]="opened" 
                    >                
                     <div class="slid text-white text-center my-5 mb-4">                    
                        <div class="pt-5 justify-content-center align-items-center">
                         <img
                         src="assets/media/img_danielle.jpg"
                         alt="userprofile"
                         width="50"
                         height="50"
                         class="rounded-circle img-fluid  mt-5"
                       />
                       <h5 class="text-center">danielle</h5>
                      
                        </div>
                     
                         <ul class="fa-ul text-left ml-2">
                           <li>
                             <a [routerLink]="['/usertemplets', 1]">
                             <span><i class="fas fa-columns mr-2 pt-5 "></i></span>Dashboard
                           </a>
                           </li>
                           <li>
                             <a  [routerLink]="['/userprofile', 1]">
                             <span><i class="fas fa-bars mr-2 pt-4"></i></span> Profile Settings
                             </a>
                           </li>
                           <li>
                            <a  [routerLink]="['/changepassword', 1]">
                            <span><i class="fas fa-unlock pt-4 mr-2"></i></span> Change Password
                            </a>
                          </li>
                         </ul>
                       </div> 
        </mat-sidenav>
      
        <mat-sidenav-content>
     <!-- <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p> -->
          <p class="open-nav"><a mat-button  (click)="sidenav.toggle()"><i class="fas fa-bars fa-2x"></i> </a></p>
        
       <div class="container">
        <div class="row "> 
          <div class="col-md-12">
            <h4 class="text-center">Change Your Password</h4>
            <hr />   
          </div>    
          <div class="col-md-6 ">
            <div class="ml-5 mt-2  my-5">
              
                <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" class="py-2" >                
                
                   
                       <div class="form-group">
                          <label for="oldpassword">Old Password</label>
                          <input type="password" id="oldpassword" value="oldpassword" formControlName="oldpassword" class="form-control">            
                       </div>
                       <div *ngIf="changePasswordForm.get('oldpassword').errors && changePasswordForm.get('oldpassword').touched">
                        <p class="error-message text-danger"><span class="error-icon text-danger">!
                            </span>{{changePasswordForm.get('oldpassword').errors.msg || 'Please enter your valid Password.'}}</p>
                    </div>
                       <div class="form-group">
                          <label for="newpassword">New Password</label>
                          <input type="password" id="username" value="newpassword" formControlName="newpassword" class="form-control">            
                       </div>
                       <div *ngIf="changePasswordForm.get('newpassword').errors && changePasswordForm.get('newpassword').touched">
                        <p class="error-message text-danger"><span class="error-icon text-danger">!
                            </span>{{changePasswordForm.get('newpassword').errors.msg || ' valid Password  must contain at least one special character, lowercase,uppercase  alphabetical character.'}}</p>
                    </div>
                       <div class="form-group">
                          <label for="confirmpassword">Confirm Password</label>
                          <input [class.is-invalid]="changePasswordForm.errors?.misMatch" type="password" id="confirmpassword" value="confirmpassword" formControlName="confirmpassword" class="form-control">            
                       </div>
                       <div *ngIf="changePasswordForm.errors?.misMatch && changePasswordForm.get('confirmpassword').touched">
                        <p class="error-message text-danger"><span class="error-icon text-danger">! 
                            </span> Password dose not match.</p>
                    </div>  
                  
                       <div class="input-group-append">
                        <button  type="submit" [disabled]="!changePasswordForm.valid" class="btn btn-outline-primary">Update</button>
                      </div>
                  
                 </form>

            </div>
          </div>
          
        </div>
      </div> 
        </mat-sidenav-content>
      </mat-sidenav-container>
    </section>
