@import "../../scss/variables";
@import "../../scss/mixin";


#changepass{
    .open-nav{
        position: fixed;
        top:50%;
      }
    a{
        text-decoration: none;      
        cursor: pointer;
      }
    .example-container {
        position: absolute;
        top: 100px;
        bottom: 0;
        left: 0;
        right: 0;
      
       
      }
      mat-sidenav{
       background-color: $colordark;; 
        width: 200px;
       }
      .slid{
       a{
        color: #fff;
       }
     
       
      }
}

 