
$font-family: 'Montserrat', sans-serif;
#signup{

 //   background-image: url('../../assets/media/2994072.jpg');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    font-family: $font-family;
  
}
input{
    -webkit-box-shadow: 0px 0px 30px -8px rgba(70,71,87,0.39);
    -moz-box-shadow: 0px 0px 30px -8px rgba(70,71,87,0.39);
    box-shadow: 0px 0px 30px -8px rgba(70,71,87,0.39);
}
.facebook{
    color:#3b5998;

}
.google{
    color: #de5246;
}