.soon{
  background-image: url(../../assets/comingSoon.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
h1{
  font-size: 3.5rem;
  margin-top: 42%;
  padding-left: 10%;
  line-height: 1.5;
  font-weight: 600;
  text-transform: uppercase;
}
