<section class="py-5 mt-5 team">

  <div class="col-md-4 text-center position-relative m-auto">
    <h2 class=" mb-5">Our Team</h2>
  </div>
 
  
  <div class="container">
    <owl-carousel-o
      [options]="customOptions"
      (dragging)="startDragging($event.dragging)"
    >
    <ng-template carouselSlide>
        <div class="slide mr-4">
            <img src="assets/media/5.jpg" />
          <div class="img-overlay py-4 text-center">
            <h4>About Fatma</h4>
            <p class="mb-1">
              Great explorer of the truth, the master-builder of human
              happiness.
            </p>
            <a href=""><i class="fab fa-linkedin-in"></i></a>
          </div>

        
          <div class="txt-overlay text-center ">
            <h3>Fatma Fathi</h3>
            <p class="px-1">creative developer</p>
          </div>
        </div>
      </ng-template>
    <!--   <ng-template carouselSlide>
        <div class="slide mr-2">
          <div class="img-overlay">
            <div
              class="social-icon d-flex flex-column align-items-center justify-content-center h-75"
            >
              <i class="fab fa-linkedin-in"></i>
              <i class="fab fa-facebook-f pt-3"></i>
              <i class="fas fa-at pt-3"></i>
            </div>
          </div>
          <img src="assets/media/img_danielle.jpg" />
          <div class="text-center mt-2">
            <h3 class="">Mariam</h3>
            <p>front end developer</p>
          </div>
        </div>
      </ng-template> -->
      <ng-template carouselSlide>
        <div class="slide mr-4">
            <img src="assets/media/5.jpg" />
          <div class="img-overlay py-4 text-center">
            <h4>About Mai</h4>
            <p class="mb-1">
              Great explorer of the truth, the master-builder of human
              happiness.
            </p>
            <a href=""><i class="fab fa-linkedin-in"></i></a>
          </div>

        
          <div class="txt-overlay text-center ">
            <h3>Mai Mohamed</h3>
            <p class="px-1">creative developer</p>
          </div>
        </div>
      </ng-template>
    
      <ng-template carouselSlide>
        <div class="slide mr-4">
            <img src="assets/media/5.jpg" />
          <div class="img-overlay py-4 text-center">
            <h4 class="gradient1">About Aml</h4>
            <p class="mb-1">
              Great explorer of the truth, the master-builder of human
              happiness.
            </p>
            <a href=""><i class="fab fa-linkedin-in"></i></a>
          </div>

        
          <div class="txt-overlay text-center ">
            <h3>Aml Ragab</h3>
            <p class="px-1">creative developer</p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slide mr-4">
            <img src="assets/media/5.jpg" />
          <div class="img-overlay py-4 text-center">
            <h4>About Mariam</h4>
            <p class="mb-1">
              Great explorer of the truth, the master-builder of human
              happiness.
            </p>
            <a href=""><i class="fab fa-linkedin-in"></i></a>
          </div>

        
          <div class="txt-overlay text-center ">
            <h3>Mariam Samir</h3>
            <p class="px-1">creative developer</p>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>
