@import "../../scss/variables";
@import "../../scss/mixin";

/* @mixin gradient-text($gradient, $bg : 'light') {
  @supports(mix-blend-mode: lighten) {
    display: inline-block;
    position: relative;
    
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      
      background: unquote($gradient);
      pointer-events: none;
    }

    @if ($bg == 'light') {
      color: #000;
      background: #fff;
      mix-blend-mode: multiply;

      &::before {
        mix-blend-mode: screen;
      }
    } @else {
      color: #fff;
      background: #000;
      mix-blend-mode: lighten;

      &::before {
        mix-blend-mode: multiply;
      }
    }
  }
}
 */


@function stroke($stroke, $color) {
  $shadow: ();
  $from: $stroke * -1;
  @for $i from $from through $stroke {
    @for $j from $from through $stroke {
      $shadow: append($shadow, $i * 1px $j * 1px 0 $color, comma);
    }
  }
  @return $shadow;
}

@mixin stroke($stroke, $color) {
  text-shadow: stroke($stroke, $color);
}


h2{ 
  font-size: 3em;
&:after{
  content: '';
  width:130px;
  height: 5px;
  background-color: $themeColor;
  display: block;
  position: absolute;
  top:100%;
  left:50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
}

/* h1 {
  @include stroke(2, #FFF);
} */

/* h2 {
  //just looks good ion thin stroke sizes.
    text-shadow: -1px 0  #FFF, 0 1px  #FFF, 1px 0  #FFF, 0 -1px  #FFF;
    font-family: "Arial";
} */
/* 
h4 {
    -webkit-text-fill-color: white;
  -webkit-text-stroke-color: rgba(98, 40, 40, 0.938);
  -webkit-text-stroke-width: .5px; 
  font-family: "Arial";
}
 */


.team {

  .line {
    height: 3px;
    width: 20%;
    background-color: #ff2978;
  }
  //background-color: #DDE2FF;
  .slide {
     h3 {
      display: inline;
      //color:#000000;
      font-size: 15px;
      font-weight: 500;
    }
p{
  font-size: 15px;
   
}
  position: relative;
    .img-overlay {
    p{color:#fff;}
    h4{
      //color:$themeColor;
      font-weight: bold;
      font-size: 1em;
      color: #2b4b80;
      letter-spacing: 0.2em;
      @include stroke(2, #FFF);
    }
  /*   .gradient1 {
      @include gradient-text('linear-gradient(to right,#23966c, #faaa54, #e23b4a, #db0768, #360670)', 'light');
    } */
      background-color: rgba(75,98,119,.5);
      position: absolute;
      right: 15px;    
      left: 15px;
      top:-100%;
      bottom: 100%;   
      transition: all 1s;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -ms-transition: all 1s;
      -o-transition: all 1s;
     @include mediaQ(500) {
      h4{

font-size: 15px;


      } 
p{
  font-size: 10px;
  line-height: 5px;
}
      }
}

.txt-overlay{
    position: absolute;
    bottom: 3%;
    left: 15%;
    right: 15%;
    text-align: center;
    width: 70%;
    height: 30%;
    background-color: white;
    padding-top: 3%;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

   
    &:hover {
      .img-overlay {
        bottom: 15px;
        top: 15px;
      }
     .txt-overlay{
      bottom: -100%;
     }
    }
}

}
